/* Animated Stars */

#stars {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: transparent;
  box-shadow:
    785px 1440px #7bbae7,
    1656px 752px #7bbae7,
    945px 1699px #7bbae7,
    358px 442px #7bbae7,
    730px 1639px #7bbae7,
    1489px 427px #7bbae7,
    1134px 1408px #7bbae7,
    1620px 435px #7bbae7,
    758px 1131px #7bbae7,
    1930px 176px #7bbae7,
    613px 394px #7bbae7,
    994px 1769px #7bbae7,
    137px 995px #7bbae7,
    975px 1664px #7bbae7,
    1308px 1421px #7bbae7,
    653px 117px #7bbae7,
    1297px 443px #7bbae7,
    1803px 1551px #7bbae7,
    57px 1304px #7bbae7,
    1006px 985px #7bbae7,
    1147px 771px #7bbae7,
    487px 394px #7bbae7,
    1148px 1328px #7bbae7,
    858px 1537px #7bbae7,
    1595px 415px #7bbae7,
    1325px 1801px #7bbae7,
    1549px 1569px #7bbae7,
    1131px 1538px #7bbae7,
    1268px 477px #7bbae7,
    771px 1596px #7bbae7,
    1486px 1771px #7bbae7,
    1481px 1961px #7bbae7,
    517px 1988px #7bbae7,
    642px 588px #7bbae7,
    1835px 1441px #7bbae7,
    569px 716px #7bbae7,
    1604px 572px #7bbae7,
    1782px 441px #7bbae7,
    1218px 503px #7bbae7,
    1402px 684px #7bbae7,
    1303px 621px #7bbae7,
    892px 641px #7bbae7,
    1254px 1496px #7bbae7,
    234px 669px #7bbae7,
    554px 1039px #7bbae7,
    312px 175px #7bbae7,
    1243px 1897px #7bbae7,
    234px 897px #7bbae7,
    1617px 437px #7bbae7,
    687px 171px #7bbae7,
    1821px 1883px #7bbae7,
    296px 1056px #7bbae7,
    1046px 1205px #7bbae7,
    577px 221px #7bbae7,
    886px 1764px #7bbae7,
    473px 482px #7bbae7,
    1556px 270px #7bbae7,
    1607px 352px #7bbae7,
    1993px 685px #7bbae7,
    109px 1592px #7bbae7,
    1335px 235px #7bbae7,
    680px 548px #7bbae7,
    1917px 1834px #7bbae7,
    865px 362px #7bbae7,
    1349px 1092px #7bbae7,
    475px 1491px #7bbae7,
    1096px 955px #7bbae7,
    1863px 228px #7bbae7,
    1635px 233px #7bbae7,
    1313px 1688px #7bbae7,
    180px 1258px #7bbae7,
    1397px 988px #7bbae7,
    882px 867px #7bbae7,
    484px 912px #7bbae7,
    1358px 837px #7bbae7,
    1821px 1229px #7bbae7,
    1287px 1689px #7bbae7,
    36px 880px #7bbae7,
    1594px 682px #7bbae7,
    613px 195px #7bbae7,
    1305px 941px #7bbae7,
    559px 1362px #7bbae7,
    1142px 859px #7bbae7,
    921px 850px #7bbae7,
    12px 1630px #7bbae7,
    554px 979px #7bbae7,
    1708px 1290px #7bbae7,
    1492px 1522px #7bbae7,
    1112px 169px #7bbae7,
    624px 48px #7bbae7,
    829px 1442px #7bbae7,
    1018px 283px #7bbae7,
    1433px 97px #7bbae7,
    1084px 1719px #7bbae7,
    1794px 1900px #7bbae7,
    1410px 1216px #7bbae7,
    1180px 341px #7bbae7,
    135px 950px #7bbae7,
    1306px 905px #7bbae7,
    651px 9px #7bbae7,
    663px 770px #7bbae7,
    566px 1280px #7bbae7,
    1930px 1879px #7bbae7,
    418px 1230px #7bbae7,
    1245px 1522px #7bbae7,
    1852px 1498px #7bbae7,
    1634px 193px #7bbae7,
    841px 1197px #7bbae7,
    661px 1667px #7bbae7,
    291px 620px #7bbae7,
    1527px 587px #7bbae7,
    818px 822px #7bbae7,
    765px 1858px #7bbae7,
    1270px 1151px #7bbae7,
    687px 918px #7bbae7,
    404px 980px #7bbae7,
    371px 773px #7bbae7,
    492px 238px #7bbae7,
    115px 717px #7bbae7,
    1164px 1120px #7bbae7,
    1036px 508px #7bbae7,
    419px 96px #7bbae7,
    883px 1048px #7bbae7,
    220px 929px #7bbae7,
    1275px 1476px #7bbae7,
    1633px 1370px #7bbae7,
    754px 316px #7bbae7,
    1566px 1027px #7bbae7,
    1728px 1410px #7bbae7,
    319px 1731px #7bbae7,
    191px 1326px #7bbae7,
    391px 1419px #7bbae7,
    1495px 1885px #7bbae7,
    1393px 675px #7bbae7,
    543px 720px #7bbae7,
    1254px 289px #7bbae7,
    641px 1676px #7bbae7,
    1391px 393px #7bbae7,
    1774px 1714px #7bbae7,
    1079px 1130px #7bbae7,
    1536px 141px #7bbae7,
    1121px 131px #7bbae7,
    1045px 896px #7bbae7,
    1719px 1476px #7bbae7,
    672px 1967px #7bbae7,
    209px 1962px #7bbae7,
    1504px 784px #7bbae7,
    1164px 1880px #7bbae7,
    205px 1455px #7bbae7,
    1090px 1043px #7bbae7,
    1648px 1369px #7bbae7,
    905px 176px #7bbae7,
    40px 1840px #7bbae7,
    357px 721px #7bbae7,
    1262px 469px #7bbae7,
    1889px 1140px #7bbae7,
    1706px 1487px #7bbae7,
    98px 1723px #7bbae7,
    1564px 332px #7bbae7,
    1688px 495px #7bbae7,
    1844px 1691px #7bbae7,
    1788px 1158px #7bbae7,
    1222px 1070px #7bbae7,
    54px 605px #7bbae7,
    1850px 1335px #7bbae7,
    1899px 776px #7bbae7,
    1459px 1942px #7bbae7,
    1370px 1906px #7bbae7,
    1017px 1359px #7bbae7,
    1485px 859px #7bbae7,
    405px 1235px #7bbae7,
    1529px 962px #7bbae7,
    348px 74px #7bbae7,
    165px 1114px #7bbae7,
    1972px 441px #7bbae7,
    92px 1874px #7bbae7,
    966px 253px #7bbae7,
    281px 733px #7bbae7,
    1759px 1235px #7bbae7,
    461px 1224px #7bbae7,
    1849px 234px #7bbae7,
    1316px 457px #7bbae7,
    390px 343px #7bbae7,
    1888px 1030px #7bbae7,
    1705px 1778px #7bbae7,
    734px 1365px #7bbae7,
    589px 1227px #7bbae7,
    1586px 1163px #7bbae7,
    768px 841px #7bbae7,
    1643px 1619px #7bbae7,
    1527px 1909px #7bbae7,
    249px 690px #7bbae7,
    1894px 209px #7bbae7,
    269px 106px #7bbae7,
    1040px 1323px #7bbae7,
    1162px 873px #7bbae7,
    939px 1074px #7bbae7,
    245px 842px #7bbae7,
    702px 657px #7bbae7,
    1300px 286px #7bbae7,
    1452px 419px #7bbae7,
    9px 318px #7bbae7,
    1198px 1073px #7bbae7,
    1449px 1463px #7bbae7,
    1207px 103px #7bbae7,
    1532px 42px #7bbae7,
    19px 874px #7bbae7,
    474px 720px #7bbae7,
    1579px 579px #7bbae7,
    814px 57px #7bbae7,
    939px 675px #7bbae7,
    1407px 490px #7bbae7,
    460px 565px #7bbae7,
    1314px 2000px #7bbae7,
    567px 1187px #7bbae7,
    197px 559px #7bbae7,
    10px 840px #7bbae7,
    1149px 1455px #7bbae7,
    1918px 867px #7bbae7,
    1992px 1999px #7bbae7,
    912px 1824px #7bbae7,
    124px 1015px #7bbae7,
    626px 1967px #7bbae7,
    584px 626px #7bbae7,
    896px 647px #7bbae7,
    1287px 682px #7bbae7,
    1524px 1205px #7bbae7,
    642px 682px #7bbae7,
    1846px 1584px #7bbae7,
    1869px 1963px #7bbae7,
    291px 1844px #7bbae7,
    1559px 1859px #7bbae7,
    203px 1087px #7bbae7,
    1277px 934px #7bbae7,
    1888px 818px #7bbae7,
    202px 162px #7bbae7,
    896px 1060px #7bbae7,
    1311px 1220px #7bbae7,
    1738px 938px #7bbae7,
    983px 161px #7bbae7,
    1258px 1900px #7bbae7,
    1083px 401px #7bbae7,
    882px 185px #7bbae7,
    594px 983px #7bbae7,
    1128px 1106px #7bbae7,
    401px 705px #7bbae7,
    873px 1121px #7bbae7,
    1998px 260px #7bbae7,
    192px 674px #7bbae7,
    1040px 1484px #7bbae7,
    239px 1703px #7bbae7,
    247px 311px #7bbae7,
    756px 1455px #7bbae7,
    207px 1426px #7bbae7,
    607px 720px #7bbae7,
    1701px 1005px #7bbae7,
    82px 1273px #7bbae7,
    1657px 1967px #7bbae7,
    23px 883px #7bbae7,
    1678px 837px #7bbae7,
    1314px 1208px #7bbae7,
    281px 1788px #7bbae7,
    1428px 1804px #7bbae7,
    1129px 1949px #7bbae7,
    1766px 268px #7bbae7,
    1811px 248px #7bbae7,
    1766px 1630px #7bbae7,
    944px 1194px #7bbae7,
    894px 1402px #7bbae7,
    1489px 618px #7bbae7,
    524px 1492px #7bbae7,
    242px 1741px #7bbae7,
    777px 1047px #7bbae7,
    271px 94px #7bbae7,
    314px 161px #7bbae7,
    382px 678px #7bbae7,
    339px 1526px #7bbae7,
    1855px 354px #7bbae7,
    1369px 841px #7bbae7,
    96px 889px #7bbae7,
    20px 696px #7bbae7,
    1503px 1325px #7bbae7,
    987px 366px #7bbae7,
    330px 979px #7bbae7,
    1076px 432px #7bbae7,
    131px 189px #7bbae7,
    509px 943px #7bbae7,
    646px 1321px #7bbae7,
    1453px 1349px #7bbae7,
    538px 1519px #7bbae7,
    1671px 1462px #7bbae7,
    1599px 301px #7bbae7,
    1038px 1939px #7bbae7,
    926px 591px #7bbae7,
    1445px 1418px #7bbae7,
    847px 303px #7bbae7,
    1310px 1349px #7bbae7,
    717px 1359px #7bbae7,
    222px 591px #7bbae7,
    17px 1400px #7bbae7,
    1394px 426px #7bbae7,
    546px 1305px #7bbae7,
    295px 1745px #7bbae7,
    105px 237px #7bbae7,
    1041px 82px #7bbae7,
    182px 982px #7bbae7,
    1822px 442px #7bbae7,
    159px 326px #7bbae7,
    1851px 1066px #7bbae7,
    1942px 272px #7bbae7,
    437px 1615px #7bbae7,
    1578px 1936px #7bbae7,
    1361px 143px #7bbae7,
    1675px 519px #7bbae7,
    1304px 894px #7bbae7,
    1415px 166px #7bbae7,
    186px 80px #7bbae7,
    1064px 1667px #7bbae7,
    1983px 1012px #7bbae7,
    1663px 1901px #7bbae7,
    1671px 530px #7bbae7,
    1353px 264px #7bbae7,
    724px 1144px #7bbae7,
    472px 207px #7bbae7,
    1498px 401px #7bbae7,
    243px 462px #7bbae7,
    37px 590px #7bbae7,
    1180px 1388px #7bbae7,
    314px 532px #7bbae7,
    1668px 1118px #7bbae7,
    528px 1661px #7bbae7,
    767px 453px #7bbae7,
    1346px 891px #7bbae7,
    954px 1156px #7bbae7,
    993px 1002px #7bbae7,
    879px 1576px #7bbae7,
    481px 86px #7bbae7,
    788px 754px #7bbae7,
    1499px 1664px #7bbae7,
    1468px 1640px #7bbae7,
    1362px 1877px #7bbae7,
    1886px 269px #7bbae7,
    1691px 1799px #7bbae7,
    1130px 1149px #7bbae7,
    484px 320px #7bbae7,
    102px 36px #7bbae7,
    1423px 396px #7bbae7,
    2000px 1005px #7bbae7,
    768px 1863px #7bbae7,
    1791px 1679px #7bbae7,
    1269px 1453px #7bbae7,
    1158px 938px #7bbae7,
    1960px 1820px #7bbae7,
    151px 1296px #7bbae7,
    214px 325px #7bbae7,
    19px 1713px #7bbae7,
    1684px 1276px #7bbae7,
    1093px 1054px #7bbae7,
    1684px 87px #7bbae7,
    962px 1473px #7bbae7,
    1840px 238px #7bbae7,
    1563px 1367px #7bbae7,
    1065px 627px #7bbae7,
    569px 1768px #7bbae7,
    70px 456px #7bbae7,
    1183px 960px #7bbae7,
    899px 1839px #7bbae7,
    1875px 1652px #7bbae7,
    1060px 549px #7bbae7,
    796px 575px #7bbae7,
    34px 886px #7bbae7,
    762px 388px #7bbae7,
    1702px 1057px #7bbae7,
    591px 1549px #7bbae7,
    297px 811px #7bbae7,
    593px 1079px #7bbae7,
    1838px 1615px #7bbae7,
    68px 1983px #7bbae7,
    1054px 1794px #7bbae7,
    229px 1771px #7bbae7,
    1726px 789px #7bbae7,
    833px 1032px #7bbae7,
    622px 1043px #7bbae7,
    1298px 789px #7bbae7,
    169px 1637px #7bbae7,
    377px 1317px #7bbae7,
    919px 1217px #7bbae7,
    146px 1581px #7bbae7,
    1321px 597px #7bbae7,
    1871px 577px #7bbae7,
    279px 1661px #7bbae7,
    226px 1585px #7bbae7,
    538px 419px #7bbae7,
    1495px 1262px #7bbae7,
    58px 1421px #7bbae7,
    1484px 180px #7bbae7,
    1824px 1742px #7bbae7,
    63px 153px #7bbae7,
    820px 1654px #7bbae7,
    1862px 158px #7bbae7,
    6px 303px #7bbae7,
    808px 1580px #7bbae7,
    1361px 44px #7bbae7,
    1300px 158px #7bbae7,
    1614px 165px #7bbae7,
    603px 226px #7bbae7,
    383px 1085px #7bbae7,
    1089px 539px #7bbae7,
    1536px 989px #7bbae7,
    915px 1819px #7bbae7,
    1560px 235px #7bbae7,
    1228px 1767px #7bbae7,
    1546px 386px #7bbae7,
    1203px 1322px #7bbae7,
    1290px 1063px #7bbae7,
    506px 706px #7bbae7,
    406px 521px #7bbae7,
    1102px 297px #7bbae7,
    952px 896px #7bbae7,
    1080px 477px #7bbae7,
    524px 1026px #7bbae7,
    680px 1544px #7bbae7,
    1654px 639px #7bbae7,
    845px 1980px #7bbae7,
    1304px 1236px #7bbae7,
    265px 1848px #7bbae7,
    1705px 809px #7bbae7,
    1224px 708px #7bbae7,
    780px 1891px #7bbae7,
    405px 1329px #7bbae7,
    1236px 253px #7bbae7,
    438px 1033px #7bbae7,
    1309px 830px #7bbae7,
    794px 1564px #7bbae7,
    35px 1646px #7bbae7,
    937px 1671px #7bbae7,
    1473px 1608px #7bbae7,
    1499px 210px #7bbae7,
    763px 1927px #7bbae7,
    18px 1465px #7bbae7,
    1352px 531px #7bbae7,
    1063px 1464px #7bbae7,
    349px 480px #7bbae7,
    1910px 476px #7bbae7,
    802px 1745px #7bbae7,
    139px 1520px #7bbae7,
    1804px 1510px #7bbae7,
    1654px 1038px #7bbae7,
    1642px 740px #7bbae7,
    315px 51px #7bbae7,
    1443px 1625px #7bbae7,
    877px 126px #7bbae7,
    768px 1493px #7bbae7,
    1995px 553px #7bbae7,
    1234px 1101px #7bbae7,
    404px 1037px #7bbae7,
    1751px 1618px #7bbae7,
    1904px 671px #7bbae7,
    1365px 943px #7bbae7,
    1829px 1502px #7bbae7,
    1273px 325px #7bbae7,
    1680px 51px #7bbae7,
    1450px 539px #7bbae7,
    164px 445px #7bbae7,
    1866px 989px #7bbae7,
    301px 1090px #7bbae7,
    935px 1225px #7bbae7,
    378px 1760px #7bbae7,
    607px 549px #7bbae7,
    646px 1947px #7bbae7,
    1056px 1273px #7bbae7,
    991px 989px #7bbae7,
    278px 115px #7bbae7,
    1547px 58px #7bbae7,
    223px 876px #7bbae7,
    1957px 94px #7bbae7,
    1016px 674px #7bbae7,
    1035px 476px #7bbae7,
    1794px 1536px #7bbae7,
    1284px 1052px #7bbae7,
    932px 1616px #7bbae7,
    377px 309px #7bbae7,
    67px 275px #7bbae7,
    1377px 185px #7bbae7,
    310px 1304px #7bbae7,
    1793px 551px #7bbae7,
    620px 1269px #7bbae7,
    742px 1991px #7bbae7,
    513px 1625px #7bbae7,
    948px 1276px #7bbae7,
    750px 1928px #7bbae7,
    690px 941px #7bbae7,
    1487px 468px #7bbae7,
    59px 1504px #7bbae7,
    1554px 958px #7bbae7,
    225px 1062px #7bbae7,
    655px 832px #7bbae7,
    132px 1466px #7bbae7,
    2000px 971px #7bbae7,
    289px 234px #7bbae7,
    852px 754px #7bbae7,
    1131px 1666px #7bbae7,
    942px 427px #7bbae7,
    1674px 1133px #7bbae7,
    1668px 552px #7bbae7,
    929px 1353px #7bbae7,
    1213px 963px #7bbae7,
    1617px 919px #7bbae7,
    38px 145px #7bbae7,
    56px 1030px #7bbae7,
    1621px 835px #7bbae7,
    423px 509px #7bbae7,
    1403px 1195px #7bbae7,
    1378px 1468px #7bbae7,
    561px 1625px #7bbae7,
    258px 929px #7bbae7,
    1475px 1127px #7bbae7,
    1443px 177px #7bbae7,
    1660px 1771px #7bbae7,
    817px 1328px #7bbae7,
    1822px 1002px #7bbae7,
    1565px 237px #7bbae7,
    1377px 638px #7bbae7,
    619px 424px #7bbae7,
    753px 1182px #7bbae7,
    502px 674px #7bbae7,
    1100px 788px #7bbae7,
    931px 515px #7bbae7,
    1716px 689px #7bbae7,
    591px 270px #7bbae7,
    272px 627px #7bbae7,
    1576px 466px #7bbae7,
    1401px 1809px #7bbae7,
    1375px 997px #7bbae7,
    1133px 1556px #7bbae7,
    1326px 439px #7bbae7,
    1801px 1445px #7bbae7,
    409px 447px #7bbae7,
    212px 617px #7bbae7,
    1438px 1766px #7bbae7,
    410px 767px #7bbae7,
    82px 1180px #7bbae7,
    973px 438px #7bbae7,
    1056px 27px #7bbae7,
    1104px 137px #7bbae7,
    889px 1330px #7bbae7,
    1017px 1867px #7bbae7,
    746px 1519px #7bbae7,
    1441px 942px #7bbae7,
    139px 1013px #7bbae7,
    1966px 1812px #7bbae7,
    967px 1057px #7bbae7,
    356px 840px #7bbae7,
    400px 1283px #7bbae7,
    1424px 1306px #7bbae7,
    720px 726px #7bbae7,
    402px 1889px #7bbae7,
    445px 1627px #7bbae7,
    1021px 1535px #7bbae7,
    614px 166px #7bbae7,
    1452px 1021px #7bbae7,
    1292px 1620px #7bbae7,
    1245px 1553px #7bbae7,
    1939px 275px #7bbae7,
    1975px 1462px #7bbae7,
    1865px 210px #7bbae7,
    846px 1994px #7bbae7,
    8px 1539px #7bbae7,
    714px 407px #7bbae7,
    1199px 1367px #7bbae7,
    673px 464px #7bbae7,
    1745px 1811px #7bbae7,
    1140px 1036px #7bbae7,
    899px 1086px #7bbae7,
    1740px 496px #7bbae7,
    1311px 267px #7bbae7,
    1995px 1514px #7bbae7,
    1133px 760px #7bbae7,
    1688px 1836px #7bbae7,
    626px 366px #7bbae7,
    37px 1495px #7bbae7,
    834px 1255px #7bbae7,
    1605px 1505px #7bbae7,
    732px 1912px #7bbae7,
    872px 440px #7bbae7,
    324px 1686px #7bbae7,
    403px 279px #7bbae7,
    1358px 1038px #7bbae7,
    1274px 226px #7bbae7,
    505px 1352px #7bbae7,
    355px 1061px #7bbae7,
    1064px 697px #7bbae7,
    1022px 684px #7bbae7,
    1062px 1742px #7bbae7,
    1007px 993px #7bbae7,
    645px 1324px #7bbae7,
    1348px 549px #7bbae7,
    906px 483px #7bbae7,
    1319px 1472px #7bbae7,
    128px 1454px #7bbae7,
    20px 1360px #7bbae7,
    1189px 1519px #7bbae7,
    1050px 853px #7bbae7,
    1696px 1017px #7bbae7,
    29px 1907px #7bbae7,
    1017px 638px #7bbae7,
    1905px 882px #7bbae7,
    160px 1033px #7bbae7,
    1043px 843px #7bbae7,
    1529px 121px #7bbae7,
    382px 673px #7bbae7,
    1399px 452px #7bbae7,
    1342px 1265px #7bbae7,
    614px 1479px #7bbae7,
    217px 1222px #7bbae7,
    1183px 441px #7bbae7,
    588px 89px #7bbae7,
    899px 1837px #7bbae7,
    1708px 1661px #7bbae7,
    1150px 1770px #7bbae7,
    1296px 1742px #7bbae7,
    848px 1464px #7bbae7,
    1613px 1686px #7bbae7,
    416px 1047px #7bbae7,
    447px 483px #7bbae7,
    307px 1444px #7bbae7,
    1904px 1490px #7bbae7,
    1493px 777px #7bbae7,
    906px 800px #7bbae7,
    1529px 70px #7bbae7,
    846px 456px #7bbae7,
    1250px 1288px #7bbae7,
    767px 245px #7bbae7,
    794px 723px #7bbae7,
    990px 1653px #7bbae7,
    1201px 1952px #7bbae7,
    1815px 537px #7bbae7,
    106px 1958px #7bbae7,
    146px 867px #7bbae7,
    1923px 1731px #7bbae7,
    87px 877px #7bbae7,
    1663px 1769px #7bbae7,
    1233px 228px #7bbae7,
    544px 378px #7bbae7,
    182px 1800px #7bbae7,
    53px 1661px #7bbae7,
    635px 988px #7bbae7,
    1490px 1199px #7bbae7,
    1015px 732px #7bbae7,
    595px 1970px #7bbae7,
    870px 1596px #7bbae7,
    1755px 913px #7bbae7,
    1785px 735px #7bbae7,
    212px 299px #7bbae7,
    915px 1895px #7bbae7,
    1818px 1568px #7bbae7,
    1326px 135px #7bbae7,
    1436px 111px #7bbae7,
    561px 1695px #7bbae7,
    232px 439px #7bbae7,
    1660px 1435px #7bbae7,
    201px 1725px #7bbae7,
    1466px 904px #7bbae7,
    467px 1067px #7bbae7,
    471px 536px #7bbae7,
    685px 705px #7bbae7,
    1911px 315px #7bbae7,
    324px 1050px #7bbae7,
    1412px 26px #7bbae7,
    210px 295px #7bbae7,
    356px 1553px #7bbae7,
    1673px 1275px #7bbae7,
    899px 1252px #7bbae7,
    1630px 630px #7bbae7,
    1538px 984px #7bbae7,
    1330px 1099px #7bbae7,
    1449px 550px #7bbae7,
    807px 881px #7bbae7,
    1344px 1334px #7bbae7,
    1529px 1838px #7bbae7,
    1624px 1320px #7bbae7,
    75px 1206px #7bbae7,
    1261px 1201px #7bbae7,
    1515px 1577px #7bbae7,
    1233px 47px #7bbae7,
    486px 140px #7bbae7,
    1591px 1386px #7bbae7,
    196px 688px #7bbae7,
    855px 1086px #7bbae7,
    538px 1551px #7bbae7,
    1019px 1122px #7bbae7,
    665px 1600px #7bbae7,
    1666px 1979px #7bbae7,
    1329px 557px #7bbae7,
    1213px 1281px #7bbae7,
    1784px 1614px #7bbae7,
    1766px 30px #7bbae7,
    831px 1591px #7bbae7,
    1589px 207px #7bbae7,
    1660px 1151px #7bbae7;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: -2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    785px 1440px #7bbae7,
    1656px 752px #7bbae7,
    945px 1699px #7bbae7,
    358px 442px #7bbae7,
    730px 1639px #7bbae7,
    1489px 427px #7bbae7,
    1134px 1408px #7bbae7,
    1620px 435px #7bbae7,
    758px 1131px #7bbae7,
    1930px 176px #7bbae7,
    613px 394px #7bbae7,
    994px 1769px #7bbae7,
    137px 995px #7bbae7,
    975px 1664px #7bbae7,
    1308px 1421px #7bbae7,
    653px 117px #7bbae7,
    1297px 443px #7bbae7,
    1803px 1551px #7bbae7,
    57px 1304px #7bbae7,
    1006px 985px #7bbae7,
    1147px 771px #7bbae7,
    487px 394px #7bbae7,
    1148px 1328px #7bbae7,
    858px 1537px #7bbae7,
    1595px 415px #7bbae7,
    1325px 1801px #7bbae7,
    1549px 1569px #7bbae7,
    1131px 1538px #7bbae7,
    1268px 477px #7bbae7,
    771px 1596px #7bbae7,
    1486px 1771px #7bbae7,
    1481px 1961px #7bbae7,
    517px 1988px #7bbae7,
    642px 588px #7bbae7,
    1835px 1441px #7bbae7,
    569px 716px #7bbae7,
    1604px 572px #7bbae7,
    1782px 441px #7bbae7,
    1218px 503px #7bbae7,
    1402px 684px #7bbae7,
    1303px 621px #7bbae7,
    892px 641px #7bbae7,
    1254px 1496px #7bbae7,
    234px 669px #7bbae7,
    554px 1039px #7bbae7,
    312px 175px #7bbae7,
    1243px 1897px #7bbae7,
    234px 897px #7bbae7,
    1617px 437px #7bbae7,
    687px 171px #7bbae7,
    1821px 1883px #7bbae7,
    296px 1056px #7bbae7,
    1046px 1205px #7bbae7,
    577px 221px #7bbae7,
    886px 1764px #7bbae7,
    473px 482px #7bbae7,
    1556px 270px #7bbae7,
    1607px 352px #7bbae7,
    1993px 685px #7bbae7,
    109px 1592px #7bbae7,
    1335px 235px #7bbae7,
    680px 548px #7bbae7,
    1917px 1834px #7bbae7,
    865px 362px #7bbae7,
    1349px 1092px #7bbae7,
    475px 1491px #7bbae7,
    1096px 955px #7bbae7,
    1863px 228px #7bbae7,
    1635px 233px #7bbae7,
    1313px 1688px #7bbae7,
    180px 1258px #7bbae7,
    1397px 988px #7bbae7,
    882px 867px #7bbae7,
    484px 912px #7bbae7,
    1358px 837px #7bbae7,
    1821px 1229px #7bbae7,
    1287px 1689px #7bbae7,
    36px 880px #7bbae7,
    1594px 682px #7bbae7,
    613px 195px #7bbae7,
    1305px 941px #7bbae7,
    559px 1362px #7bbae7,
    1142px 859px #7bbae7,
    921px 850px #7bbae7,
    12px 1630px #7bbae7,
    554px 979px #7bbae7,
    1708px 1290px #7bbae7,
    1492px 1522px #7bbae7,
    1112px 169px #7bbae7,
    624px 48px #7bbae7,
    829px 1442px #7bbae7,
    1018px 283px #7bbae7,
    1433px 97px #7bbae7,
    1084px 1719px #7bbae7,
    1794px 1900px #7bbae7,
    1410px 1216px #7bbae7,
    1180px 341px #7bbae7,
    135px 950px #7bbae7,
    1306px 905px #7bbae7,
    651px 9px #7bbae7,
    663px 770px #7bbae7,
    566px 1280px #7bbae7,
    1930px 1879px #7bbae7,
    418px 1230px #7bbae7,
    1245px 1522px #7bbae7,
    1852px 1498px #7bbae7,
    1634px 193px #7bbae7,
    841px 1197px #7bbae7,
    661px 1667px #7bbae7,
    291px 620px #7bbae7,
    1527px 587px #7bbae7,
    818px 822px #7bbae7,
    765px 1858px #7bbae7,
    1270px 1151px #7bbae7,
    687px 918px #7bbae7,
    404px 980px #7bbae7,
    371px 773px #7bbae7,
    492px 238px #7bbae7,
    115px 717px #7bbae7,
    1164px 1120px #7bbae7,
    1036px 508px #7bbae7,
    419px 96px #7bbae7,
    883px 1048px #7bbae7,
    220px 929px #7bbae7,
    1275px 1476px #7bbae7,
    1633px 1370px #7bbae7,
    754px 316px #7bbae7,
    1566px 1027px #7bbae7,
    1728px 1410px #7bbae7,
    319px 1731px #7bbae7,
    191px 1326px #7bbae7,
    391px 1419px #7bbae7,
    1495px 1885px #7bbae7,
    1393px 675px #7bbae7,
    543px 720px #7bbae7,
    1254px 289px #7bbae7,
    641px 1676px #7bbae7,
    1391px 393px #7bbae7,
    1774px 1714px #7bbae7,
    1079px 1130px #7bbae7,
    1536px 141px #7bbae7,
    1121px 131px #7bbae7,
    1045px 896px #7bbae7,
    1719px 1476px #7bbae7,
    672px 1967px #7bbae7,
    209px 1962px #7bbae7,
    1504px 784px #7bbae7,
    1164px 1880px #7bbae7,
    205px 1455px #7bbae7,
    1090px 1043px #7bbae7,
    1648px 1369px #7bbae7,
    905px 176px #7bbae7,
    40px 1840px #7bbae7,
    357px 721px #7bbae7,
    1262px 469px #7bbae7,
    1889px 1140px #7bbae7,
    1706px 1487px #7bbae7,
    98px 1723px #7bbae7,
    1564px 332px #7bbae7,
    1688px 495px #7bbae7,
    1844px 1691px #7bbae7,
    1788px 1158px #7bbae7,
    1222px 1070px #7bbae7,
    54px 605px #7bbae7,
    1850px 1335px #7bbae7,
    1899px 776px #7bbae7,
    1459px 1942px #7bbae7,
    1370px 1906px #7bbae7,
    1017px 1359px #7bbae7,
    1485px 859px #7bbae7,
    405px 1235px #7bbae7,
    1529px 962px #7bbae7,
    348px 74px #7bbae7,
    165px 1114px #7bbae7,
    1972px 441px #7bbae7,
    92px 1874px #7bbae7,
    966px 253px #7bbae7,
    281px 733px #7bbae7,
    1759px 1235px #7bbae7,
    461px 1224px #7bbae7,
    1849px 234px #7bbae7,
    1316px 457px #7bbae7,
    390px 343px #7bbae7,
    1888px 1030px #7bbae7,
    1705px 1778px #7bbae7,
    734px 1365px #7bbae7,
    589px 1227px #7bbae7,
    1586px 1163px #7bbae7,
    768px 841px #7bbae7,
    1643px 1619px #7bbae7,
    1527px 1909px #7bbae7,
    249px 690px #7bbae7,
    1894px 209px #7bbae7,
    269px 106px #7bbae7,
    1040px 1323px #7bbae7,
    1162px 873px #7bbae7,
    939px 1074px #7bbae7,
    245px 842px #7bbae7,
    702px 657px #7bbae7,
    1300px 286px #7bbae7,
    1452px 419px #7bbae7,
    9px 318px #7bbae7,
    1198px 1073px #7bbae7,
    1449px 1463px #7bbae7,
    1207px 103px #7bbae7,
    1532px 42px #7bbae7,
    19px 874px #7bbae7,
    474px 720px #7bbae7,
    1579px 579px #7bbae7,
    814px 57px #7bbae7,
    939px 675px #7bbae7,
    1407px 490px #7bbae7,
    460px 565px #7bbae7,
    1314px 2000px #7bbae7,
    567px 1187px #7bbae7,
    197px 559px #7bbae7,
    10px 840px #7bbae7,
    1149px 1455px #7bbae7,
    1918px 867px #7bbae7,
    1992px 1999px #7bbae7,
    912px 1824px #7bbae7,
    124px 1015px #7bbae7,
    626px 1967px #7bbae7,
    584px 626px #7bbae7,
    896px 647px #7bbae7,
    1287px 682px #7bbae7,
    1524px 1205px #7bbae7,
    642px 682px #7bbae7,
    1846px 1584px #7bbae7,
    1869px 1963px #7bbae7,
    291px 1844px #7bbae7,
    1559px 1859px #7bbae7,
    203px 1087px #7bbae7,
    1277px 934px #7bbae7,
    1888px 818px #7bbae7,
    202px 162px #7bbae7,
    896px 1060px #7bbae7,
    1311px 1220px #7bbae7,
    1738px 938px #7bbae7,
    983px 161px #7bbae7,
    1258px 1900px #7bbae7,
    1083px 401px #7bbae7,
    882px 185px #7bbae7,
    594px 983px #7bbae7,
    1128px 1106px #7bbae7,
    401px 705px #7bbae7,
    873px 1121px #7bbae7,
    1998px 260px #7bbae7,
    192px 674px #7bbae7,
    1040px 1484px #7bbae7,
    239px 1703px #7bbae7,
    247px 311px #7bbae7,
    756px 1455px #7bbae7,
    207px 1426px #7bbae7,
    607px 720px #7bbae7,
    1701px 1005px #7bbae7,
    82px 1273px #7bbae7,
    1657px 1967px #7bbae7,
    23px 883px #7bbae7,
    1678px 837px #7bbae7,
    1314px 1208px #7bbae7,
    281px 1788px #7bbae7,
    1428px 1804px #7bbae7,
    1129px 1949px #7bbae7,
    1766px 268px #7bbae7,
    1811px 248px #7bbae7,
    1766px 1630px #7bbae7,
    944px 1194px #7bbae7,
    894px 1402px #7bbae7,
    1489px 618px #7bbae7,
    524px 1492px #7bbae7,
    242px 1741px #7bbae7,
    777px 1047px #7bbae7,
    271px 94px #7bbae7,
    314px 161px #7bbae7,
    382px 678px #7bbae7,
    339px 1526px #7bbae7,
    1855px 354px #7bbae7,
    1369px 841px #7bbae7,
    96px 889px #7bbae7,
    20px 696px #7bbae7,
    1503px 1325px #7bbae7,
    987px 366px #7bbae7,
    330px 979px #7bbae7,
    1076px 432px #7bbae7,
    131px 189px #7bbae7,
    509px 943px #7bbae7,
    646px 1321px #7bbae7,
    1453px 1349px #7bbae7,
    538px 1519px #7bbae7,
    1671px 1462px #7bbae7,
    1599px 301px #7bbae7,
    1038px 1939px #7bbae7,
    926px 591px #7bbae7,
    1445px 1418px #7bbae7,
    847px 303px #7bbae7,
    1310px 1349px #7bbae7,
    717px 1359px #7bbae7,
    222px 591px #7bbae7,
    17px 1400px #7bbae7,
    1394px 426px #7bbae7,
    546px 1305px #7bbae7,
    295px 1745px #7bbae7,
    105px 237px #7bbae7,
    1041px 82px #7bbae7,
    182px 982px #7bbae7,
    1822px 442px #7bbae7,
    159px 326px #7bbae7,
    1851px 1066px #7bbae7,
    1942px 272px #7bbae7,
    437px 1615px #7bbae7,
    1578px 1936px #7bbae7,
    1361px 143px #7bbae7,
    1675px 519px #7bbae7,
    1304px 894px #7bbae7,
    1415px 166px #7bbae7,
    186px 80px #7bbae7,
    1064px 1667px #7bbae7,
    1983px 1012px #7bbae7,
    1663px 1901px #7bbae7,
    1671px 530px #7bbae7,
    1353px 264px #7bbae7,
    724px 1144px #7bbae7,
    472px 207px #7bbae7,
    1498px 401px #7bbae7,
    243px 462px #7bbae7,
    37px 590px #7bbae7,
    1180px 1388px #7bbae7,
    314px 532px #7bbae7,
    1668px 1118px #7bbae7,
    528px 1661px #7bbae7,
    767px 453px #7bbae7,
    1346px 891px #7bbae7,
    954px 1156px #7bbae7,
    993px 1002px #7bbae7,
    879px 1576px #7bbae7,
    481px 86px #7bbae7,
    788px 754px #7bbae7,
    1499px 1664px #7bbae7,
    1468px 1640px #7bbae7,
    1362px 1877px #7bbae7,
    1886px 269px #7bbae7,
    1691px 1799px #7bbae7,
    1130px 1149px #7bbae7,
    484px 320px #7bbae7,
    102px 36px #7bbae7,
    1423px 396px #7bbae7,
    2000px 1005px #7bbae7,
    768px 1863px #7bbae7,
    1791px 1679px #7bbae7,
    1269px 1453px #7bbae7,
    1158px 938px #7bbae7,
    1960px 1820px #7bbae7,
    151px 1296px #7bbae7,
    214px 325px #7bbae7,
    19px 1713px #7bbae7,
    1684px 1276px #7bbae7,
    1093px 1054px #7bbae7,
    1684px 87px #7bbae7,
    962px 1473px #7bbae7,
    1840px 238px #7bbae7,
    1563px 1367px #7bbae7,
    1065px 627px #7bbae7,
    569px 1768px #7bbae7,
    70px 456px #7bbae7,
    1183px 960px #7bbae7,
    899px 1839px #7bbae7,
    1875px 1652px #7bbae7,
    1060px 549px #7bbae7,
    796px 575px #7bbae7,
    34px 886px #7bbae7,
    762px 388px #7bbae7,
    1702px 1057px #7bbae7,
    591px 1549px #7bbae7,
    297px 811px #7bbae7,
    593px 1079px #7bbae7,
    1838px 1615px #7bbae7,
    68px 1983px #7bbae7,
    1054px 1794px #7bbae7,
    229px 1771px #7bbae7,
    1726px 789px #7bbae7,
    833px 1032px #7bbae7,
    622px 1043px #7bbae7,
    1298px 789px #7bbae7,
    169px 1637px #7bbae7,
    377px 1317px #7bbae7,
    919px 1217px #7bbae7,
    146px 1581px #7bbae7,
    1321px 597px #7bbae7,
    1871px 577px #7bbae7,
    279px 1661px #7bbae7,
    226px 1585px #7bbae7,
    538px 419px #7bbae7,
    1495px 1262px #7bbae7,
    58px 1421px #7bbae7,
    1484px 180px #7bbae7,
    1824px 1742px #7bbae7,
    63px 153px #7bbae7,
    820px 1654px #7bbae7,
    1862px 158px #7bbae7,
    6px 303px #7bbae7,
    808px 1580px #7bbae7,
    1361px 44px #7bbae7,
    1300px 158px #7bbae7,
    1614px 165px #7bbae7,
    603px 226px #7bbae7,
    383px 1085px #7bbae7,
    1089px 539px #7bbae7,
    1536px 989px #7bbae7,
    915px 1819px #7bbae7,
    1560px 235px #7bbae7,
    1228px 1767px #7bbae7,
    1546px 386px #7bbae7,
    1203px 1322px #7bbae7,
    1290px 1063px #7bbae7,
    506px 706px #7bbae7,
    406px 521px #7bbae7,
    1102px 297px #7bbae7,
    952px 896px #7bbae7,
    1080px 477px #7bbae7,
    524px 1026px #7bbae7,
    680px 1544px #7bbae7,
    1654px 639px #7bbae7,
    845px 1980px #7bbae7,
    1304px 1236px #7bbae7,
    265px 1848px #7bbae7,
    1705px 809px #7bbae7,
    1224px 708px #7bbae7,
    780px 1891px #7bbae7,
    405px 1329px #7bbae7,
    1236px 253px #7bbae7,
    438px 1033px #7bbae7,
    1309px 830px #7bbae7,
    794px 1564px #7bbae7,
    35px 1646px #7bbae7,
    937px 1671px #7bbae7,
    1473px 1608px #7bbae7,
    1499px 210px #7bbae7,
    763px 1927px #7bbae7,
    18px 1465px #7bbae7,
    1352px 531px #7bbae7,
    1063px 1464px #7bbae7,
    349px 480px #7bbae7,
    1910px 476px #7bbae7,
    802px 1745px #7bbae7,
    139px 1520px #7bbae7,
    1804px 1510px #7bbae7,
    1654px 1038px #7bbae7,
    1642px 740px #7bbae7,
    315px 51px #7bbae7,
    1443px 1625px #7bbae7,
    877px 126px #7bbae7,
    768px 1493px #7bbae7,
    1995px 553px #7bbae7,
    1234px 1101px #7bbae7,
    404px 1037px #7bbae7,
    1751px 1618px #7bbae7,
    1904px 671px #7bbae7,
    1365px 943px #7bbae7,
    1829px 1502px #7bbae7,
    1273px 325px #7bbae7,
    1680px 51px #7bbae7,
    1450px 539px #7bbae7,
    164px 445px #7bbae7,
    1866px 989px #7bbae7,
    301px 1090px #7bbae7,
    935px 1225px #7bbae7,
    378px 1760px #7bbae7,
    607px 549px #7bbae7,
    646px 1947px #7bbae7,
    1056px 1273px #7bbae7,
    991px 989px #7bbae7,
    278px 115px #7bbae7,
    1547px 58px #7bbae7,
    223px 876px #7bbae7,
    1957px 94px #7bbae7,
    1016px 674px #7bbae7,
    1035px 476px #7bbae7,
    1794px 1536px #7bbae7,
    1284px 1052px #7bbae7,
    932px 1616px #7bbae7,
    377px 309px #7bbae7,
    67px 275px #7bbae7,
    1377px 185px #7bbae7,
    310px 1304px #7bbae7,
    1793px 551px #7bbae7,
    620px 1269px #7bbae7,
    742px 1991px #7bbae7,
    513px 1625px #7bbae7,
    948px 1276px #7bbae7,
    750px 1928px #7bbae7,
    690px 941px #7bbae7,
    1487px 468px #7bbae7,
    59px 1504px #7bbae7,
    1554px 958px #7bbae7,
    225px 1062px #7bbae7,
    655px 832px #7bbae7,
    132px 1466px #7bbae7,
    2000px 971px #7bbae7,
    289px 234px #7bbae7,
    852px 754px #7bbae7,
    1131px 1666px #7bbae7,
    942px 427px #7bbae7,
    1674px 1133px #7bbae7,
    1668px 552px #7bbae7,
    929px 1353px #7bbae7,
    1213px 963px #7bbae7,
    1617px 919px #7bbae7,
    38px 145px #7bbae7,
    56px 1030px #7bbae7,
    1621px 835px #7bbae7,
    423px 509px #7bbae7,
    1403px 1195px #7bbae7,
    1378px 1468px #7bbae7,
    561px 1625px #7bbae7,
    258px 929px #7bbae7,
    1475px 1127px #7bbae7,
    1443px 177px #7bbae7,
    1660px 1771px #7bbae7,
    817px 1328px #7bbae7,
    1822px 1002px #7bbae7,
    1565px 237px #7bbae7,
    1377px 638px #7bbae7,
    619px 424px #7bbae7,
    753px 1182px #7bbae7,
    502px 674px #7bbae7,
    1100px 788px #7bbae7,
    931px 515px #7bbae7,
    1716px 689px #7bbae7,
    591px 270px #7bbae7,
    272px 627px #7bbae7,
    1576px 466px #7bbae7,
    1401px 1809px #7bbae7,
    1375px 997px #7bbae7,
    1133px 1556px #7bbae7,
    1326px 439px #7bbae7,
    1801px 1445px #7bbae7,
    409px 447px #7bbae7,
    212px 617px #7bbae7,
    1438px 1766px #7bbae7,
    410px 767px #7bbae7,
    82px 1180px #7bbae7,
    973px 438px #7bbae7,
    1056px 27px #7bbae7,
    1104px 137px #7bbae7,
    889px 1330px #7bbae7,
    1017px 1867px #7bbae7,
    746px 1519px #7bbae7,
    1441px 942px #7bbae7,
    139px 1013px #7bbae7,
    1966px 1812px #7bbae7,
    967px 1057px #7bbae7,
    356px 840px #7bbae7,
    400px 1283px #7bbae7,
    1424px 1306px #7bbae7,
    720px 726px #7bbae7,
    402px 1889px #7bbae7,
    445px 1627px #7bbae7,
    1021px 1535px #7bbae7,
    614px 166px #7bbae7,
    1452px 1021px #7bbae7,
    1292px 1620px #7bbae7,
    1245px 1553px #7bbae7,
    1939px 275px #7bbae7,
    1975px 1462px #7bbae7,
    1865px 210px #7bbae7,
    846px 1994px #7bbae7,
    8px 1539px #7bbae7,
    714px 407px #7bbae7,
    1199px 1367px #7bbae7,
    673px 464px #7bbae7,
    1745px 1811px #7bbae7,
    1140px 1036px #7bbae7,
    899px 1086px #7bbae7,
    1740px 496px #7bbae7,
    1311px 267px #7bbae7,
    1995px 1514px #7bbae7,
    1133px 760px #7bbae7,
    1688px 1836px #7bbae7,
    626px 366px #7bbae7,
    37px 1495px #7bbae7,
    834px 1255px #7bbae7,
    1605px 1505px #7bbae7,
    732px 1912px #7bbae7,
    872px 440px #7bbae7,
    324px 1686px #7bbae7,
    403px 279px #7bbae7,
    1358px 1038px #7bbae7,
    1274px 226px #7bbae7,
    505px 1352px #7bbae7,
    355px 1061px #7bbae7,
    1064px 697px #7bbae7,
    1022px 684px #7bbae7,
    1062px 1742px #7bbae7,
    1007px 993px #7bbae7,
    645px 1324px #7bbae7,
    1348px 549px #7bbae7,
    906px 483px #7bbae7,
    1319px 1472px #7bbae7,
    128px 1454px #7bbae7,
    20px 1360px #7bbae7,
    1189px 1519px #7bbae7,
    1050px 853px #7bbae7,
    1696px 1017px #7bbae7,
    29px 1907px #7bbae7,
    1017px 638px #7bbae7,
    1905px 882px #7bbae7,
    160px 1033px #7bbae7,
    1043px 843px #7bbae7,
    1529px 121px #7bbae7,
    382px 673px #7bbae7,
    1399px 452px #7bbae7,
    1342px 1265px #7bbae7,
    614px 1479px #7bbae7,
    217px 1222px #7bbae7,
    1183px 441px #7bbae7,
    588px 89px #7bbae7,
    899px 1837px #7bbae7,
    1708px 1661px #7bbae7,
    1150px 1770px #7bbae7,
    1296px 1742px #7bbae7,
    848px 1464px #7bbae7,
    1613px 1686px #7bbae7,
    416px 1047px #7bbae7,
    447px 483px #7bbae7,
    307px 1444px #7bbae7,
    1904px 1490px #7bbae7,
    1493px 777px #7bbae7,
    906px 800px #7bbae7,
    1529px 70px #7bbae7,
    846px 456px #7bbae7,
    1250px 1288px #7bbae7,
    767px 245px #7bbae7,
    794px 723px #7bbae7,
    990px 1653px #7bbae7,
    1201px 1952px #7bbae7,
    1815px 537px #7bbae7,
    106px 1958px #7bbae7,
    146px 867px #7bbae7,
    1923px 1731px #7bbae7,
    87px 877px #7bbae7,
    1663px 1769px #7bbae7,
    1233px 228px #7bbae7,
    544px 378px #7bbae7,
    182px 1800px #7bbae7,
    53px 1661px #7bbae7,
    635px 988px #7bbae7,
    1490px 1199px #7bbae7,
    1015px 732px #7bbae7,
    595px 1970px #7bbae7,
    870px 1596px #7bbae7,
    1755px 913px #7bbae7,
    1785px 735px #7bbae7,
    212px 299px #7bbae7,
    915px 1895px #7bbae7,
    1818px 1568px #7bbae7,
    1326px 135px #7bbae7,
    1436px 111px #7bbae7,
    561px 1695px #7bbae7,
    232px 439px #7bbae7,
    1660px 1435px #7bbae7,
    201px 1725px #7bbae7,
    1466px 904px #7bbae7,
    467px 1067px #7bbae7,
    471px 536px #7bbae7,
    685px 705px #7bbae7,
    1911px 315px #7bbae7,
    324px 1050px #7bbae7,
    1412px 26px #7bbae7,
    210px 295px #7bbae7,
    356px 1553px #7bbae7,
    1673px 1275px #7bbae7,
    899px 1252px #7bbae7,
    1630px 630px #7bbae7,
    1538px 984px #7bbae7,
    1330px 1099px #7bbae7,
    1449px 550px #7bbae7,
    807px 881px #7bbae7,
    1344px 1334px #7bbae7,
    1529px 1838px #7bbae7,
    1624px 1320px #7bbae7,
    75px 1206px #7bbae7,
    1261px 1201px #7bbae7,
    1515px 1577px #7bbae7,
    1233px 47px #7bbae7,
    486px 140px #7bbae7,
    1591px 1386px #7bbae7,
    196px 688px #7bbae7,
    855px 1086px #7bbae7,
    538px 1551px #7bbae7,
    1019px 1122px #7bbae7,
    665px 1600px #7bbae7,
    1666px 1979px #7bbae7,
    1329px 557px #7bbae7,
    1213px 1281px #7bbae7,
    1784px 1614px #7bbae7,
    1766px 30px #7bbae7,
    831px 1591px #7bbae7,
    1589px 207px #7bbae7,
    1660px 1151px #7bbae7;
}

#stars2 {
  width: 2px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: transparent;
  box-shadow:
    1037px 1342px #7bbae7,
    18px 261px #7bbae7,
    1361px 975px #7bbae7,
    1760px 687px #7bbae7,
    846px 1551px #7bbae7,
    1070px 740px #7bbae7,
    1671px 25px #7bbae7,
    377px 1908px #7bbae7,
    1652px 246px #7bbae7,
    864px 1187px #7bbae7,
    1467px 1942px #7bbae7,
    1629px 535px #7bbae7,
    1850px 7px #7bbae7,
    781px 146px #7bbae7,
    488px 1312px #7bbae7,
    1920px 1882px #7bbae7,
    893px 1848px #7bbae7,
    1790px 1093px #7bbae7,
    1802px 1342px #7bbae7,
    1455px 1622px #7bbae7,
    305px 1139px #7bbae7,
    546px 1406px #7bbae7,
    37px 350px #7bbae7,
    717px 1900px #7bbae7,
    61px 1980px #7bbae7,
    1301px 216px #7bbae7,
    183px 1880px #7bbae7,
    1930px 1504px #7bbae7,
    1340px 1399px #7bbae7,
    427px 960px #7bbae7,
    478px 287px #7bbae7,
    1765px 587px #7bbae7,
    725px 1301px #7bbae7,
    1609px 247px #7bbae7,
    477px 1303px #7bbae7,
    696px 915px #7bbae7,
    1263px 937px #7bbae7,
    1977px 1330px #7bbae7,
    1384px 234px #7bbae7,
    1705px 689px #7bbae7,
    217px 993px #7bbae7,
    1372px 1869px #7bbae7,
    626px 403px #7bbae7,
    1802px 229px #7bbae7,
    346px 485px #7bbae7,
    1092px 1486px #7bbae7,
    100px 67px #7bbae7,
    573px 753px #7bbae7,
    78px 1507px #7bbae7,
    30px 263px #7bbae7,
    1639px 411px #7bbae7,
    1043px 1494px #7bbae7,
    1864px 253px #7bbae7,
    1350px 1256px #7bbae7,
    1553px 67px #7bbae7,
    737px 27px #7bbae7,
    580px 563px #7bbae7,
    858px 485px #7bbae7,
    1506px 1776px #7bbae7,
    1221px 102px #7bbae7,
    1390px 1232px #7bbae7,
    1231px 929px #7bbae7,
    1788px 869px #7bbae7,
    27px 1747px #7bbae7,
    1547px 985px #7bbae7,
    534px 1350px #7bbae7,
    176px 1376px #7bbae7,
    767px 1212px #7bbae7,
    1113px 17px #7bbae7,
    1520px 39px #7bbae7,
    643px 1839px #7bbae7,
    729px 1869px #7bbae7,
    1871px 765px #7bbae7,
    480px 398px #7bbae7,
    644px 733px #7bbae7,
    421px 1767px #7bbae7,
    800px 1741px #7bbae7,
    309px 115px #7bbae7,
    84px 383px #7bbae7,
    1444px 376px #7bbae7,
    1823px 789px #7bbae7,
    576px 1994px #7bbae7,
    240px 909px #7bbae7,
    1795px 42px #7bbae7,
    802px 548px #7bbae7,
    1687px 1701px #7bbae7,
    1261px 1896px #7bbae7,
    1393px 1515px #7bbae7,
    475px 1467px #7bbae7,
    1882px 150px #7bbae7,
    1451px 695px #7bbae7,
    995px 53px #7bbae7,
    946px 726px #7bbae7,
    1521px 642px #7bbae7,
    608px 832px #7bbae7,
    538px 1587px #7bbae7,
    890px 462px #7bbae7,
    679px 1884px #7bbae7,
    1720px 1019px #7bbae7,
    1235px 1468px #7bbae7,
    1248px 1465px #7bbae7,
    513px 28px #7bbae7,
    1356px 1823px #7bbae7,
    1903px 259px #7bbae7,
    1400px 1060px #7bbae7,
    1485px 440px #7bbae7,
    1786px 1228px #7bbae7,
    565px 426px #7bbae7,
    1064px 1401px #7bbae7,
    1926px 1928px #7bbae7,
    1416px 141px #7bbae7,
    1046px 1133px #7bbae7,
    1025px 1956px #7bbae7,
    1315px 295px #7bbae7,
    1245px 67px #7bbae7,
    1336px 478px #7bbae7,
    847px 1820px #7bbae7,
    1067px 603px #7bbae7,
    1138px 791px #7bbae7,
    627px 950px #7bbae7,
    1336px 507px #7bbae7,
    1284px 375px #7bbae7,
    203px 331px #7bbae7,
    808px 1305px #7bbae7,
    294px 1550px #7bbae7,
    972px 820px #7bbae7,
    213px 1742px #7bbae7,
    795px 979px #7bbae7,
    1364px 1522px #7bbae7,
    944px 784px #7bbae7,
    1199px 708px #7bbae7,
    625px 78px #7bbae7,
    746px 59px #7bbae7,
    1043px 555px #7bbae7,
    153px 104px #7bbae7,
    1778px 389px #7bbae7,
    1468px 290px #7bbae7,
    1347px 897px #7bbae7,
    108px 1420px #7bbae7,
    636px 1079px #7bbae7,
    450px 177px #7bbae7,
    1779px 508px #7bbae7,
    1771px 485px #7bbae7,
    449px 1697px #7bbae7,
    147px 504px #7bbae7,
    1667px 1601px #7bbae7,
    184px 1305px #7bbae7,
    425px 1077px #7bbae7,
    1173px 1135px #7bbae7,
    832px 483px #7bbae7,
    607px 1520px #7bbae7,
    987px 1048px #7bbae7,
    1694px 318px #7bbae7,
    1418px 143px #7bbae7,
    1238px 494px #7bbae7,
    1730px 1086px #7bbae7,
    195px 51px #7bbae7,
    942px 1925px #7bbae7,
    1716px 1385px #7bbae7,
    71px 359px #7bbae7,
    1358px 982px #7bbae7,
    757px 30px #7bbae7,
    471px 153px #7bbae7,
    49px 1650px #7bbae7,
    224px 481px #7bbae7,
    696px 950px #7bbae7,
    278px 629px #7bbae7,
    931px 1637px #7bbae7,
    1381px 99px #7bbae7,
    1579px 115px #7bbae7,
    535px 1269px #7bbae7,
    1452px 1542px #7bbae7,
    1332px 1656px #7bbae7,
    1048px 835px #7bbae7,
    1386px 1867px #7bbae7,
    15px 838px #7bbae7,
    1481px 716px #7bbae7,
    717px 1227px #7bbae7,
    1514px 28px #7bbae7,
    488px 97px #7bbae7,
    794px 1192px #7bbae7,
    925px 529px #7bbae7,
    417px 1612px #7bbae7,
    1047px 1276px #7bbae7,
    1597px 290px #7bbae7,
    652px 749px #7bbae7,
    821px 1818px #7bbae7,
    1565px 644px #7bbae7,
    855px 325px #7bbae7,
    1793px 855px #7bbae7,
    962px 1762px #7bbae7,
    883px 262px #7bbae7,
    1095px 1836px #7bbae7,
    975px 571px #7bbae7,
    846px 848px #7bbae7,
    1378px 250px #7bbae7,
    1454px 790px #7bbae7,
    1699px 1150px #7bbae7,
    89px 1628px #7bbae7,
    741px 282px #7bbae7;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: -2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1037px 1342px #7bbae7,
    18px 261px #7bbae7,
    1361px 975px #7bbae7,
    1760px 687px #7bbae7,
    846px 1551px #7bbae7,
    1070px 740px #7bbae7,
    1671px 25px #7bbae7,
    377px 1908px #7bbae7,
    1652px 246px #7bbae7,
    864px 1187px #7bbae7,
    1467px 1942px #7bbae7,
    1629px 535px #7bbae7,
    1850px 7px #7bbae7,
    781px 146px #7bbae7,
    488px 1312px #7bbae7,
    1920px 1882px #7bbae7,
    893px 1848px #7bbae7,
    1790px 1093px #7bbae7,
    1802px 1342px #7bbae7,
    1455px 1622px #7bbae7,
    305px 1139px #7bbae7,
    546px 1406px #7bbae7,
    37px 350px #7bbae7,
    717px 1900px #7bbae7,
    61px 1980px #7bbae7,
    1301px 216px #7bbae7,
    183px 1880px #7bbae7,
    1930px 1504px #7bbae7,
    1340px 1399px #7bbae7,
    427px 960px #7bbae7,
    478px 287px #7bbae7,
    1765px 587px #7bbae7,
    725px 1301px #7bbae7,
    1609px 247px #7bbae7,
    477px 1303px #7bbae7,
    696px 915px #7bbae7,
    1263px 937px #7bbae7,
    1977px 1330px #7bbae7,
    1384px 234px #7bbae7,
    1705px 689px #7bbae7,
    217px 993px #7bbae7,
    1372px 1869px #7bbae7,
    626px 403px #7bbae7,
    1802px 229px #7bbae7,
    346px 485px #7bbae7,
    1092px 1486px #7bbae7,
    100px 67px #7bbae7,
    573px 753px #7bbae7,
    78px 1507px #7bbae7,
    30px 263px #7bbae7,
    1639px 411px #7bbae7,
    1043px 1494px #7bbae7,
    1864px 253px #7bbae7,
    1350px 1256px #7bbae7,
    1553px 67px #7bbae7,
    737px 27px #7bbae7,
    580px 563px #7bbae7,
    858px 485px #7bbae7,
    1506px 1776px #7bbae7,
    1221px 102px #7bbae7,
    1390px 1232px #7bbae7,
    1231px 929px #7bbae7,
    1788px 869px #7bbae7,
    27px 1747px #7bbae7,
    1547px 985px #7bbae7,
    534px 1350px #7bbae7,
    176px 1376px #7bbae7,
    767px 1212px #7bbae7,
    1113px 17px #7bbae7,
    1520px 39px #7bbae7,
    643px 1839px #7bbae7,
    729px 1869px #7bbae7,
    1871px 765px #7bbae7,
    480px 398px #7bbae7,
    644px 733px #7bbae7,
    421px 1767px #7bbae7,
    800px 1741px #7bbae7,
    309px 115px #7bbae7,
    84px 383px #7bbae7,
    1444px 376px #7bbae7,
    1823px 789px #7bbae7,
    576px 1994px #7bbae7,
    240px 909px #7bbae7,
    1795px 42px #7bbae7,
    802px 548px #7bbae7,
    1687px 1701px #7bbae7,
    1261px 1896px #7bbae7,
    1393px 1515px #7bbae7,
    475px 1467px #7bbae7,
    1882px 150px #7bbae7,
    1451px 695px #7bbae7,
    995px 53px #7bbae7,
    946px 726px #7bbae7,
    1521px 642px #7bbae7,
    608px 832px #7bbae7,
    538px 1587px #7bbae7,
    890px 462px #7bbae7,
    679px 1884px #7bbae7,
    1720px 1019px #7bbae7,
    1235px 1468px #7bbae7,
    1248px 1465px #7bbae7,
    513px 28px #7bbae7,
    1356px 1823px #7bbae7,
    1903px 259px #7bbae7,
    1400px 1060px #7bbae7,
    1485px 440px #7bbae7,
    1786px 1228px #7bbae7,
    565px 426px #7bbae7,
    1064px 1401px #7bbae7,
    1926px 1928px #7bbae7,
    1416px 141px #7bbae7,
    1046px 1133px #7bbae7,
    1025px 1956px #7bbae7,
    1315px 295px #7bbae7,
    1245px 67px #7bbae7,
    1336px 478px #7bbae7,
    847px 1820px #7bbae7,
    1067px 603px #7bbae7,
    1138px 791px #7bbae7,
    627px 950px #7bbae7,
    1336px 507px #7bbae7,
    1284px 375px #7bbae7,
    203px 331px #7bbae7,
    808px 1305px #7bbae7,
    294px 1550px #7bbae7,
    972px 820px #7bbae7,
    213px 1742px #7bbae7,
    795px 979px #7bbae7,
    1364px 1522px #7bbae7,
    944px 784px #7bbae7,
    1199px 708px #7bbae7,
    625px 78px #7bbae7,
    746px 59px #7bbae7,
    1043px 555px #7bbae7,
    153px 104px #7bbae7,
    1778px 389px #7bbae7,
    1468px 290px #7bbae7,
    1347px 897px #7bbae7,
    108px 1420px #7bbae7,
    636px 1079px #7bbae7,
    450px 177px #7bbae7,
    1779px 508px #7bbae7,
    1771px 485px #7bbae7,
    449px 1697px #7bbae7,
    147px 504px #7bbae7,
    1667px 1601px #7bbae7,
    184px 1305px #7bbae7,
    425px 1077px #7bbae7,
    1173px 1135px #7bbae7,
    832px 483px #7bbae7,
    607px 1520px #7bbae7,
    987px 1048px #7bbae7,
    1694px 318px #7bbae7,
    1418px 143px #7bbae7,
    1238px 494px #7bbae7,
    1730px 1086px #7bbae7,
    195px 51px #7bbae7,
    942px 1925px #7bbae7,
    1716px 1385px #7bbae7,
    71px 359px #7bbae7,
    1358px 982px #7bbae7,
    757px 30px #7bbae7,
    471px 153px #7bbae7,
    49px 1650px #7bbae7,
    224px 481px #7bbae7,
    696px 950px #7bbae7,
    278px 629px #7bbae7,
    931px 1637px #7bbae7,
    1381px 99px #7bbae7,
    1579px 115px #7bbae7,
    535px 1269px #7bbae7,
    1452px 1542px #7bbae7,
    1332px 1656px #7bbae7,
    1048px 835px #7bbae7,
    1386px 1867px #7bbae7,
    15px 838px #7bbae7,
    1481px 716px #7bbae7,
    717px 1227px #7bbae7,
    1514px 28px #7bbae7,
    488px 97px #7bbae7,
    794px 1192px #7bbae7,
    925px 529px #7bbae7,
    417px 1612px #7bbae7,
    1047px 1276px #7bbae7,
    1597px 290px #7bbae7,
    652px 749px #7bbae7,
    821px 1818px #7bbae7,
    1565px 644px #7bbae7,
    855px 325px #7bbae7,
    1793px 855px #7bbae7,
    962px 1762px #7bbae7,
    883px 262px #7bbae7,
    1095px 1836px #7bbae7,
    975px 571px #7bbae7,
    846px 848px #7bbae7,
    1378px 250px #7bbae7,
    1454px 790px #7bbae7,
    1699px 1150px #7bbae7,
    89px 1628px #7bbae7,
    741px 282px #7bbae7;
}

#stars3 {
  width: 3px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: transparent;
  box-shadow:
    402px 1645px #7bbae7,
    550px 643px #7bbae7,
    634px 725px #7bbae7,
    1715px 1562px #7bbae7,
    1981px 1501px #7bbae7,
    1605px 878px #7bbae7,
    1690px 1007px #7bbae7,
    416px 1068px #7bbae7,
    522px 1469px #7bbae7,
    1811px 714px #7bbae7,
    1584px 816px #7bbae7,
    1560px 1492px #7bbae7,
    1281px 1996px #7bbae7,
    1341px 1602px #7bbae7,
    974px 1758px #7bbae7,
    1174px 424px #7bbae7,
    1705px 7px #7bbae7,
    945px 1080px #7bbae7,
    274px 1885px #7bbae7,
    512px 1679px #7bbae7,
    572px 1110px #7bbae7,
    666px 1073px #7bbae7,
    1171px 95px #7bbae7,
    697px 1877px #7bbae7,
    1136px 513px #7bbae7,
    552px 1434px #7bbae7,
    1182px 529px #7bbae7,
    375px 113px #7bbae7,
    86px 161px #7bbae7,
    1510px 252px #7bbae7,
    1283px 14px #7bbae7,
    210px 1581px #7bbae7,
    1619px 1470px #7bbae7,
    178px 334px #7bbae7,
    1603px 73px #7bbae7,
    1664px 1924px #7bbae7,
    787px 1737px #7bbae7,
    1437px 1178px #7bbae7,
    668px 1824px #7bbae7,
    921px 1665px #7bbae7,
    1348px 1428px #7bbae7,
    1326px 56px #7bbae7,
    1809px 1008px #7bbae7,
    1996px 819px #7bbae7,
    1071px 726px #7bbae7,
    134px 94px #7bbae7,
    1079px 543px #7bbae7,
    486px 1519px #7bbae7,
    87px 1597px #7bbae7,
    450px 582px #7bbae7,
    697px 948px #7bbae7,
    537px 1900px #7bbae7,
    709px 42px #7bbae7,
    1935px 1062px #7bbae7,
    1335px 1343px #7bbae7,
    823px 1411px #7bbae7,
    321px 379px #7bbae7,
    956px 683px #7bbae7,
    662px 1992px #7bbae7,
    1231px 1749px #7bbae7,
    1398px 1743px #7bbae7,
    292px 1513px #7bbae7,
    1727px 66px #7bbae7,
    487px 142px #7bbae7,
    1602px 171px #7bbae7,
    565px 1748px #7bbae7,
    1755px 1997px #7bbae7,
    1858px 493px #7bbae7,
    154px 1205px #7bbae7,
    1772px 190px #7bbae7,
    892px 1669px #7bbae7,
    1378px 546px #7bbae7,
    939px 390px #7bbae7,
    1417px 775px #7bbae7,
    934px 1726px #7bbae7,
    1666px 1950px #7bbae7,
    1645px 1377px #7bbae7,
    1630px 1518px #7bbae7,
    1516px 889px #7bbae7,
    1034px 1997px #7bbae7,
    278px 1953px #7bbae7,
    473px 267px #7bbae7,
    203px 397px #7bbae7,
    361px 612px #7bbae7,
    1863px 1403px #7bbae7,
    1430px 1150px #7bbae7,
    447px 340px #7bbae7,
    1943px 946px #7bbae7,
    1301px 831px #7bbae7,
    1904px 584px #7bbae7,
    198px 637px #7bbae7,
    906px 283px #7bbae7,
    1671px 18px #7bbae7,
    1741px 1914px #7bbae7,
    612px 833px #7bbae7,
    1149px 1874px #7bbae7,
    97px 1814px #7bbae7,
    1613px 1466px #7bbae7,
    496px 724px #7bbae7,
    768px 1216px #7bbae7;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: -2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    402px 1645px #7bbae7,
    550px 643px #7bbae7,
    634px 725px #7bbae7,
    1715px 1562px #7bbae7,
    1981px 1501px #7bbae7,
    1605px 878px #7bbae7,
    1690px 1007px #7bbae7,
    416px 1068px #7bbae7,
    522px 1469px #7bbae7,
    1811px 714px #7bbae7,
    1584px 816px #7bbae7,
    1560px 1492px #7bbae7,
    1281px 1996px #7bbae7,
    1341px 1602px #7bbae7,
    974px 1758px #7bbae7,
    1174px 424px #7bbae7,
    1705px 7px #7bbae7,
    945px 1080px #7bbae7,
    274px 1885px #7bbae7,
    512px 1679px #7bbae7,
    572px 1110px #7bbae7,
    666px 1073px #7bbae7,
    1171px 95px #7bbae7,
    697px 1877px #7bbae7,
    1136px 513px #7bbae7,
    552px 1434px #7bbae7,
    1182px 529px #7bbae7,
    375px 113px #7bbae7,
    86px 161px #7bbae7,
    1510px 252px #7bbae7,
    1283px 14px #7bbae7,
    210px 1581px #7bbae7,
    1619px 1470px #7bbae7,
    178px 334px #7bbae7,
    1603px 73px #7bbae7,
    1664px 1924px #7bbae7,
    787px 1737px #7bbae7,
    1437px 1178px #7bbae7,
    668px 1824px #7bbae7,
    921px 1665px #7bbae7,
    1348px 1428px #7bbae7,
    1326px 56px #7bbae7,
    1809px 1008px #7bbae7,
    1996px 819px #7bbae7,
    1071px 726px #7bbae7,
    134px 94px #7bbae7,
    1079px 543px #7bbae7,
    486px 1519px #7bbae7,
    87px 1597px #7bbae7,
    450px 582px #7bbae7,
    697px 948px #7bbae7,
    537px 1900px #7bbae7,
    709px 42px #7bbae7,
    1935px 1062px #7bbae7,
    1335px 1343px #7bbae7,
    823px 1411px #7bbae7,
    321px 379px #7bbae7,
    956px 683px #7bbae7,
    662px 1992px #7bbae7,
    1231px 1749px #7bbae7,
    1398px 1743px #7bbae7,
    292px 1513px #7bbae7,
    1727px 66px #7bbae7,
    487px 142px #7bbae7,
    1602px 171px #7bbae7,
    565px 1748px #7bbae7,
    1755px 1997px #7bbae7,
    1858px 493px #7bbae7,
    154px 1205px #7bbae7,
    1772px 190px #7bbae7,
    892px 1669px #7bbae7,
    1378px 546px #7bbae7,
    939px 390px #7bbae7,
    1417px 775px #7bbae7,
    934px 1726px #7bbae7,
    1666px 1950px #7bbae7,
    1645px 1377px #7bbae7,
    1630px 1518px #7bbae7,
    1516px 889px #7bbae7,
    1034px 1997px #7bbae7,
    278px 1953px #7bbae7,
    473px 267px #7bbae7,
    203px 397px #7bbae7,
    361px 612px #7bbae7,
    1863px 1403px #7bbae7,
    1430px 1150px #7bbae7,
    447px 340px #7bbae7,
    1943px 946px #7bbae7,
    1301px 831px #7bbae7,
    1904px 584px #7bbae7,
    198px 637px #7bbae7,
    906px 283px #7bbae7,
    1671px 18px #7bbae7,
    1741px 1914px #7bbae7,
    612px 833px #7bbae7,
    1149px 1874px #7bbae7,
    97px 1814px #7bbae7,
    1613px 1466px #7bbae7,
    496px 724px #7bbae7,
    768px 1216px #7bbae7;
}

/* Animation */

@keyframes animStar {
  0% {
    transform: translate(-50%, 2000px);
  }
  100% {
    transform: translateY(-50%, 0px);
  }
}
